@charset "utf-8";
@font-face {
    font-family: 'calibriregular';
    src: url('Font/calibri-webfont.eot');
    src: url('Font/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/calibri-webfont.woff') format('woff'),
         url('Font/calibri-webfont.ttf') format('truetype'),
         url('Font/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

